<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <title> 정주호 & 송정은의 결혼식</title>
    <meta content="주호와 정은의 결혼식을 축하해주세요~!" name="description"/>
    <meta property="og:image" content="assets/marry/images/back_img.jpg">
    <meta property="fb:admins" content="ryan.Jung"/>
    <link href="assets/marry/images/favicon/apple-touch-icon.png" rel="apple-touch-icon" sizes="180x180">
    <link href="assets/marry/images/favicon/favicon-32x32.png" rel="icon" sizes="32x32" type="image/png">
    <link href="assets/marry/images/favicon/favicon-16x16.png" rel="icon" sizes="16x16" type="image/png">
    <link href="https://fonts.googleapis.com/css?family=Dosis:200,500" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Great+Vibes" rel="stylesheet">
    <link href="../assets/marry/css/ekko-lightbox.css" rel="stylesheet">
    <link href="../assets/marry/styles/main.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Gamja+Flower|Gugi|Noto+Serif+KR|Stylish|Sunflower:300"
          rel="stylesheet">
    <link href="../assets/marry/css/jquery-sakura.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-2.2.1.js"></script>


    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/2.7.0/css/font-awesome.min.css" rel="stylesheet">
    <script src="https://cdn.emailjs.com/sdk/2.3.2/email.min.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/remarkable/1.7.1/remarkable.js" type="text/javascript"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/2.0.0/js/bootstrap.min.js"></script>
    <script src="../assets/marry/js/aos.js"></script>
    <script src="../assets/marry/js/parallax.min.js"></script>
    <script src="../assets/marry/js/ekko-lightbox.min.js"></script>
    <script src="../assets/marry/scripts/main.js"></script>
    <script src="../assets/marry/js/jquery-sakura.js"></script>
    <script type="text/javascript">
        function findGetParameter(parameterName) {
            var result = null,
                tmp = [];
            location.search
                .substr(1)
                .split("&")
                .forEach(function (item) {
                  tmp = item.split("=");
                  if (tmp[0] === parameterName) result = decodeURIComponent(tmp[1]);
                });
            return result;
        }

        $(document).ready(function () {
            $("ww-home-page").sakura();
        })
    </script>
</head>

<body id="top">
<header></header>
<div class="page-content">
    <div class="div">
        <div class="ww-home-page" id="home">
            <div class="ww-wedding-announcement d-flex align-items-center justify-content-start">
                <div class="container ww-announcement-container">
                    <p class="ww-couple-name ww-title" style="font-size:2.0em">Juho & Jungeun</p>
                    <p class="h2 mt-5 ww-title" style="font-family: 'Gugi', cursive; font-size:1.0em">
                        | WE ARE GETTING MARRIED |
                    </p>
                    <p class="h2 mt-5 ww-title"
                       style="font-family: 'Noto Serif KR', serif; font-size:1.0em; letter-spacing:-1px">
                        <b style="font-size:1.2em;">2022. 10. 15. SAT AM 11:00</b>
                        <br>이천 빌라드 아모르 큐피트홀
                    </p>
                </div>
            </div>
        </div>
        <div class="ww-nav-bar sticky-top bg-light">
            <nav class="navbar navbar-expand-lg navbar-light">
                <div class="container">
                    <button aria-controls="ww-navbarNav" aria-expanded="false" aria-label="Toggle navigation"
                            class="navbar-toggler"
                            data-target="#ww-navbarNav" data-toggle="collapse" type="button">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse text-uppercase" id="ww-navbarNav">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item"><a class="nav-link smooth-scroll" href="#home">Home</a></li>
                            <li class="nav-item"><a class="nav-link smooth-scroll" href="#couple">Couple</a></li>
                            <li class="nav-item"><a class="nav-link smooth-scroll" href="#events">Events</a></li>
                            <li class="nav-item"><a class="nav-link smooth-scroll" href="#gallery">Gallery</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
        <div class="ww-section" id="couple">
            <div class="container">
                <h2 class="h1 text-center pb-3 ww-title" style="font-family: 'Noto Serif KR', serif;">신랑 & 신부</h2>
                <div class="row text-center">
                    <div class="col-md-6">
                        <div class="mt-3">
                            <h3 class="h2 ww-title" style="font-family: 'Sunflower', sans-serif; font-size:1.5em">
                                송정은</h3>
                            <img alt="Groom" class="img-fluid" src="assets/marry/images/pic8.jpg"/>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="mt-3">
                            <h3 class="h2 ww-title" style="font-family: 'Sunflower', sans-serif; font-size:1.5em">
                                정주호</h3>
                            <img alt="Bride" class="img-fluid" src="assets/marry/images/pic9.jpg"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ww-section bg-light" id="events">
            <div class="container ww-wedding-event">
                <h2 class="h1 text-center pb-3 ww-title" style="font-family: 'Noto Serif KR', serif;">초대합니다</h2>
                    <div class="col text-center mb-5">
                        <h6 style="font-family: 'Noto Serif KR', serif;">
                            1652<br>
                            (만난지 2년+190일 되는날 결혼 = 1652일)
                        </h6>
                    </div>
                <div class="row">
                    <div class="col-md-7 col-sm-12">
                        <div class="my-3">
                            <div class="h2" style="font-family: 'Sunflower', sans-serif; font-size:1.5em">웨딩 본식</div>
                            <ul>
                                <li>
                                    <i class="text-muted fas fa-map-marker-alt"></i>
                                    <span class="  text-muted">이천 빌라드 아모르 큐피트홀</span>
                                </li>
                                <li class="pt-2">
                                    <i class="text-muted far fa-calendar-alt"></i>
                                    <span class="pl-2 text-muted">2022년 10월 15일, 토요일 AM 11:00</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-5 col-sm-12">
                        <div class="my-3">
                            <img alt="Wedding Party" class="img-fluid" src="assets/marry/images/wedding-party.jpg"/>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-7 col-sm-12">
                        <div class="my-3">
                            <div class="h2" style="font-family: 'Sunflower', sans-serif; font-size:1.5em">식사</div>
                            <ul>
                                <li>
                                    <i class="text-muted fas fa-map-marker-alt "></i>
                                    <span class="pl-2 text-muted">이천 빌라드 아모르 2층 연회장</span>
                                </li>
                                <li class="pt-2">
                                    <i class="text-muted far fa-calendar-alt "></i>
                                    <span class="pl-2 text-muted">2022년 10월 15일, 토요일 AM 11:00 - PM 1:00</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-5 col-sm-12">
                        <div class="my-3"><img alt="Reception" class="img-fluid" src="assets/marry/images/reception.jpg"/></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="ww-section" id="contact">
            <div class="container">
                <h2 class="h1 text-center pb-3 ww-title" style="font-family: 'Noto Serif KR', serif;">연락처</h2>
                <div class="col text-center"></div>
                <table width="100%" style="text-align: center;">
                    <tr style="font-family: 'Noto Serif KR', serif;">
                        <td>신랑 정주호</td>
						<td></td>
						<td></td>
                        <td><a href='tel:010-8287-0055'><img class="map-icon" src="assets/marry/images/call_icon.png"></a></td>
                        <td><a href="sms:010-8287-0055?"><img class="map-icon" src="assets/marry/images/sms_icon.png"></a></td>
                    </tr>
                    <tr style="font-family: 'Noto Serif KR', serif;">
                        <td>신부 송정은</td>
						<td></td>
						<td></td>
                        <td><a href='tel:010-7471-4756'><img class="map-icon" src="assets/marry/images/call_icon.png"></a></td>
                        <td><a href='sms:010-7471-4756?'><img class="map-icon" src="assets/marry/images/sms_icon.png"></a></td>
                    </tr>
                    <tr style="font-family: 'Noto Serif KR', serif; text-align: center;">
						<td></td>
						<td></td>
						<td><div style="margin:0 auto;"><신랑측 혼주></div></td>
                        <td></td>
						<td></td>
					</tr>
                    <tr style="font-family: 'Noto Serif KR', serif;">
                        <td>아버지 정종수</td>
						<td></td>
						<td></td>
                        <td><a href='tel:010-7287-4988'><img class="map-icon" src="assets/marry/images/call_icon.png"></a></td>
                        <td><a href='sms:010-7287-4988?'><img class="map-icon" src="assets/marry/images/sms_icon.png"></a></td>
                    </tr>
                    <tr style="font-family: 'Noto Serif KR', serif;">
                        <td>어머니 김경아</td>
						<td></td>
						<td></td>
                        <td><a href='tel:010-2910-5988'><img class="map-icon" src="assets/marry/images/call_icon.png"></a></td>
                        <td><a href='sms:010-2910-5988?'><img class="map-icon" src="assets/marry/images/sms_icon.png"></a></td>
                    </tr>
                    <tr style="font-family: 'Noto Serif KR', serif; text-align: center;">
						<td></td>
						<td></td>
                        <td><div style="margin:0 auto;"><신부측 혼주></div></td>
						<td></td>
						<td></td>
                    </tr>
                    <tr style="font-family: 'Noto Serif KR', serif;">
                        <td>아버지 송일섭</td>
						<td></td>
						<td></td>
                        <td><a href='tel:010-5041-4756'><img class="map-icon" src="assets/marry/images/call_icon.png"></a></td>
                        <td><a href='sms:010-5041-4756?'><img class="map-icon" src="assets/marry/images/sms_icon.png"></a></td>
                    </tr>
                    <tr style="font-family: 'Noto Serif KR', serif;">
                        <td>어머니 조은영</td>
						<td></td>
						<td></td>
                        <td><a href='tel:010-5121-4756'><img class="map-icon" src="assets/marry/images/call_icon.png"></a></td>
                        <td><a href='sms:010-5121-4756?'><img class="map-icon" src="assets/marry/images/sms_icon.png"></a></td>
                    </tr>
                </table>
            </div>
            
        
        <div class="ww-section" id="gallery">
            <div class="ww-photo-gallery">
                <div class="container">
                    <h2 class="h1 text-center pb-3 ww-title" style="font-family: 'Noto Serif KR', serif;">포토 갤러리</h2>
                    <div class="ww-gallery">
                        <div class="card-columns">
                            <div class="card" data-groups="[&quot;party&quot;,&quot;wedding&quot;]">
                                <a data-gallery="ww-gallery" data-toggle="lightbox">
                                    <img alt="Gallery Pic 2" class="img-fluid" src="assets/marry/images/pic2.jpeg"/>
                                </a>
                            </div>
                            <div class="card" data-groups="[&quot;vacation&quot;]">
                                <a data-gallery="ww-gallery" data-toggle="lightbox">
                                    <img alt="Gallery Pic 3" class="img-fluid" src="assets/marry/images/pic3.jpeg"/>
                                </a>
                            </div>
                            <div class="card" data-groups="[&quot;party&quot;,&quot;vacation&quot;]">
                                <a data-gallery="ww-gallery" data-toggle="lightbox">
                                    <img alt="Gallery Pic 2" class="img-fluid" src="assets/marry/images/pic2.jpeg"/>
                                </a>
                            </div>
                            <div class="card" data-groups="[&quot;vacation&quot;]">
                                <a data-gallery="ww-gallery" data-toggle="lightbox">
                                    <img alt="Gallery Pic 5" class="img-fluid" src="assets/marry/images/pic6.jpeg"/>
                                </a>
                            </div>
                            <div class="card"
                                 data-groups="[&quot;wedding&quot;,&quot;ceremony&quot;,&quot;party&quot;]">
                                <a data-gallery="ww-gallery" data-toggle="lightbox">
                                    <img alt="Gallery Pic 6" class="img-fluid" src="assets/marry/images/pic7.jpeg"/>
                                </a>
                            </div>
                            <div class="card" data-groups="[&quot;vacation&quot;]">
                                <a data-gallery="ww-gallery" data-toggle="lightbox">
                                    <img alt="Gallery Pic 7" class="img-fluid" src="assets/marry/images/pic5.jpeg"/>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ww-section ww-rsvp-detail" id="map">
            <div class="container">
                <div class="col text-center">
                    <h2 class="h1 text-center pb-3 ww-title" style="font-family: 'Noto Serif KR', serif;">오시는 길</h2>
                    <div>
                        <h5 style="font-family: 'Noto Serif KR', serif;">이천 빌라드 아모르 큐피트홀</h5>
                        <h6 style="font-family: 'Noto Serif KR', serif;">(경기도 이천시 이섭대천로 921)</h6>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-12">
                        <div class="my-3 text-center">
                            <a href="http://naver.me/xPIp1Tkg">
                                <img alt="naver-map" class="map-icon" id="naver-map"
                                     src="assets/marry/images/map/naver-map.png"/>
                            </a>
                            <a href="https://place.map.kakao.com/696256151">
                                <img alt="kakao-map" class="map-icon" id="kakao-map"
                                     src="assets/marry/images/map/kakao-map.png"/>
                            </a>
                            <a href="https://goo.gl/maps/LmdCkAXpTy9tAPsr5">
                                <img alt="google-map" class="map-icon" id="google-map"
                                     src="assets/marry/images/map/google-map.png"/>
                            </a>
                        </div>
                        <div class="col text-center">
                            <label style="font-family: 'Noto Serif KR', serif; font-size: 15px;">
                                대중교통<br>
                                버스(제일은행 앞) -> 빌라드 아모르(하차: 증일2리입구) : 22-2, 3<br>
                                버스(이천터미널) -> 빌라드 아모르(하차: 증일2리입구) : 12-1, 22-25
                            </label>
                        </div>
                        <div class="my-3">
                       		<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3175.786821124276!2d127.44129911562301!3d37.252765079857916!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3564a9bda27580af%3A0xf9ea747d2bf3c37!2z67mM652865Oc7JWE66qo66W0IOydtOyynA!5e0!3m2!1sko!2skr!4v1660969677940!5m2!1sko!2skr" width="100%" height="600" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
						</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="ww-section">
            <div class="container">
                <div class="col text-center">
                    <h2 class="h1 text-center pb-3 ww-title" style="font-family: 'Noto Serif KR', serif;">신랑 & 신부에게 마음 전하기</h2>
                    <div>
                        <h6 style="font-family: 'Noto Serif KR', serif;">축복의 의미로 축의금을<br> 전달해보세요.</h5>
                        <button id="onDisplay" class="w-btn w-btn-gra1 w-btn-gra-anim" type="button">계좌번호 보기</button>
                        <button id="offDisplay" class="w-btn w-btn-gra1 w-btn-gra-anim" type="button" style="display: none;">계좌번호 닫기</button>
                    </div>
                    <div id="showaccount" style="display: none; padding-top: 50px;">
                        <table cellspacing="10" cellpadding="10">
                            <tr style="font-family: 'Noto Serif KR', serif; text-align: center;">
                                <td ><신랑측></td></tr>
                            <tr>
                                <td id="gr1" style="font-family: 'Noto Serif KR', serif;">농협 12325678951212</td><td style="font-family: 'Noto Serif KR', serif;"> 정종수</td>
                            </tr>
                            <tr>
                                <td id="gr2" style="font-family: 'Noto Serif KR', serif;">농협 12325678951212</td><td style="font-family: 'Noto Serif KR', serif;"> 정주호</td>
                            </tr>
                        </table>
                        <table cellspacing="10" cellpadding="10">
                            <tr style="font-family: 'Noto Serif KR', serif; text-align: center;">
                                <td ><신부측></td></tr>
                            <tr>
                                <td id="br1" style="font-family: 'Noto Serif KR', serif;">농협 12325678951212</td><td style="font-family: 'Noto Serif KR', serif;"> 조은영</td>
                            </tr>
                            <tr>
                                <td id="br2" style="font-family: 'Noto Serif KR', serif;">농협 12325678951212</td><td style="font-family: 'Noto Serif KR', serif;"> 송정은</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="ww-section bg-light" id="comment">
                <div class="container">
                    <div class="col text-center">
                        <h2 class="h1 text-center pb-3 ww-title" style="font-family: 'Noto Serif KR', serif;">축하메시지</h2><br>
                        <div id="lv-container" data-id="city" data-uid="MTAyMC81NjgyMy8zMzI2Nw==">
                        <script type="text/javascript">
                           (function(d, s) {
                               var j, e = d.getElementsByTagName(s)[0];
                        
                               if (typeof LivereTower === 'function') { return; }
                        
                               j = d.createElement(s);
                               j.src = 'https://cdn-city.livere.com/js/embed.dist.js';
                               j.async = true;
                        
                               e.parentNode.insertBefore(j, e);
                           })(document, 'script');
                        </script>
                        <noscript> 라이브리 댓글 작성을 위해 JavaScript를 활성화 해주세요</noscript>
                        </div>
                        <br>
                    </div>
                </div>
        </div>

    </div>
</div>
</div>
<footer></footer>

<div class="bottom_right"><i class="fa fa-arrow-up fa-2x" id="go-to-top"></i>
</div>

<div class="bottom_left">
    <audio id="player" src="assets/marry/mus.mp3"></audio>
    <div>
        <!-- <i class="fa fa-music fa-2x" onclick="document.getElementById('player').play()"></i> -->
        <i class="fa fa-music fa-2x"></i>
    </div>
</div>

</body>
</html>
